body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #921c1c;
    background-image: url('../Images/bg06.jpg');
    background-size: 2048px;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: calc(8px + 2vmin);
    color: white;
    -webkit-font-smoothing: antialiased;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.kk-text {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 30px;
  }