.kk-button {
    background: rgb(2, 53, 25);
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    color: #999;
    width: 80px;
}

.kk-button-logout {
    background: rgb(0, 0, 0);
}