// Variables
$radius: 3px;
$color-primary: #2b8023;

// Mixins
@mixin transition($prop: all, $duration: 0.25s, $timing: cubic-bezier(0.4,0,1,1)) {
    transition: $prop $duration $timing;
  }  

.kk-button {
    display: inline-block;
    padding: .75rem 1rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    background-color: $color-primary;
    border: 1px solid transparent;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    cursor: pointer;
    user-select: none;
    @include transition;
    
    &:hover {
        background-color: lighten($color-primary, 13%);
        box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
    }
}