.header {
	color: rgb(100, 19, 19);
	display: flex;
	justify-content: space-between;
	background-color: white;
	font-size: calc(10px + 2vmin);
}

.header-container {
	min-width: 100%;
	padding-bottom: 0px;
	border-bottom: 1px solid black;
}

.banner {
	font-size: 32px;
	align-items: center;
}