.login {
  display: flex;
  justify-content: space-between;
  
}

.login-form {
  text-align: right;   
}

.login-input {
  flex-direction: column;
}

input {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  margin: 1px;
  &:focus {
    outline: none;
  }
  .active {
    border: 3px;
  }
}
