
.wishlist {
    width: 100%;
  }

.wishlist-parent {
    text-align: center;
}

.wishlist-button-center {
    margin: auto;
}
  
.wishlist-item {
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
    width: 70vw;
    min-width: 250px;
    max-width: 500px;
    
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    align-self: center;
    padding: 15px;
    align-content: center;
    background-color: rgb(227, 236, 230);
    box-shadow: 8px 15px 30px rgba(50,50,93,.2), 5px 5px 10px rgba(5, 24, 6, 0.089);

    h1 {
        margin: 0px;
        padding: 0px;
    }

    .kk-button, .kk-button-disabled {
        margin-bottom: 0px;
        margin-top: 10px;
    }
}

.sentiment {
    margin-bottom: 20px;
}

.sentiment-tutorial-text {
    text-transform: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.sentiment-message-heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.wishlist-comment {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.wishlist-buttons {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-self: center;

    .kk-button, .kk-button-disabled {
        width: 120px;
    }
}

.wishlist-item-text {
    text-transform: none;
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem;
}